nav{ background-color:black;
    background-image: url(images/image2.png);
    background-position: 50% 50%;
    background-size: cover;
    
    
}
nav .leftnav img { float: left;
    position: relative;
    margin-left: 50px;
    margin-top: 5px;
   
}
.logocolor{ color: #f19201;
font-weight: bold;
}
nav .Authentic .logotext{ 
    padding-top: 90px;
    font-weight: 700;
    font-size: 40px;
    color: white;
    padding-left: 60px;
    
}
nav .Authentic button{ background-color:#F19201;
color:white;
font-weight:600;
padding-left:30px;
padding-right:25px;
padding-top:10px;
padding-bottom:10px ;
border:none ;

}
.order{ padding-left: 60px;
padding-bottom: 80px;}

nav .leftnav{ 
    width: 100%;
    overflow: hidden;
    background-color:darkslateblue;
    
    
}
nav ul li a { width: 100px;
display: block;
padding: 20px 15px ;
text-decoration: none;
color: white;
text-align: center;  
font-weight: 700;
}
li{ float: left;}
ul{width: 100%;
    margin: 0 0 0 1000px;
    list-style: none;
    padding-left: 30px;
    
}
nav ul button {
    background-color: #f19201;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border: none;
    font-weight: 700;
    color: white;
    font-size: 16px;
}
li a:hover { background: #F19201;
text-transform: uppercase;}

/* Styling for the first section ends here */
.Second{ 
    background-color: gainsboro;
    overflow: hidden;
    padding-bottom: 30px;
    
}
.services{
    text-align: center;
    padding-top: 20px;
   
}
.top { 
    color: #f19201;
    
    font-size: large;
}
.top p{ 
    color: black;
    font-style: oblique;
}

.instructions{ 
    width: 100%;
    margin: 0  0 0 300px;
    padding:2%;
    
    
    
}
.meal{ float: left;
    padding-top: 20px;
    margin-right: 15px;
    padding-right: 50px;
    border-radius: 1px;
    background-color:whitesmoke;
    text-align: center;
   
}
.meal button {
    background-color: #f19201;
   width: 60px;
   height: 60px;
   color: #ffff;
   border-radius: 50%;
   font-weight: bold;
   font-size: 20px;
   border: none;
}
/* Styling for the second section ends here */

     .Review{ 
         border: 3px solid blue;
         padding: 20px;
     }   
     .child{
         
         width: 50%;
         
         padding: 20px;
         border: 2px red;
         
        
     }
    
    
/* Styling for the third section should  end here */
