nav{ background-color: none;
  
    background-image: url(images/image2.png);
    background-position: 50% 50%;
    background-size: cover;
    
    
}
nav .leftnav img { float: left;
    position: relative;
    margin-left: 50px;
    margin-top: 5px;
   
}
.logocolor{ color: #f19201;
font-weight: bold;
}
nav .Authentic .logotext{ 
    padding-top: 90px;
    font-weight: 700px;
    font-size: 40px;
    color: white;
    padding-left: 60px;
    
}
nav .Authentic button{ background-color:#F19201;
color:white;
font-weight:600;
padding-left:30px;
padding-right:25px;
padding-top:10px;
padding-bottom:10px ;
border:none ;

}
.order{ padding-left: 60px;
padding-bottom: 80px;}

nav .leftnav{ 
    width: 100%;
    overflow: hidden;
    background-color: black;
    opacity: 0.5;
    
    
}
nav ul li a { width: 100px;
display: block;
padding: 20px 15px ;
text-decoration: none;
color: white;
text-align: center;  
font-weight: 700;
}
li{ float: left;}
ul{width: 100%;
    margin: 0 0 0 1000px;
    list-style: none;
    padding-left: 30px;
    
}
nav ul button {
    background-color: #f19201;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border: none;
    font-weight: 700;
    color: white;
    font-size: 16px;
}
li a:hover { background: #F19201;
text-transform: uppercase;}

/* Styling for the first section ends here */
.Second{ 
    background-color: gainsboro;
    overflow: hidden;
    padding-bottom: 30px;
    
}
.services{
    text-align: center;
    padding-top: 20px;
   
}
.top { 
    color: #f19201;
    
    font-size: large;
}
.top p{ 
    color: black;
    font-style: oblique;
}

.instructions{ 
    width: 100%;
    margin: 0  0 0 300px;
    padding:2%;
    
    
    
}
.meal{ float: left;
    padding-top: 20px;
    margin-right: 15px;
    padding-right: 50px;
    border-radius: 1px;
    background-color:whitesmoke;
    text-align: center;
   
}
.meal button {
    background-color: #f19201;
   width: 60px;
   height: 60px;
   color: #ffff;
   border-radius: 50%;
   font-weight: bold;
   font-size: 20px;
   border: none;
}
/* Styling for the second section ends here */
/* Styling for the first section ends here */
.Second{ 
    background-color: gainsboro;
    overflow: hidden;
    padding-bottom: 30px;
    
}
.services{
    text-align: center;
    padding-top: 20px;
   
}
.top { 
    color: #f19201;
    
    font-size: large;
}
.top p{ 
    color: black;
    font-style: oblique;
}

.instructions{ 
    width: 100%;
    margin: 0  0 0 300px;
    padding:2%;
    
    
    
}
.meal{ float: left;
    padding-top: 20px;
    margin-right: 15px;
    padding-right: 100px;
    border-radius: 1px;
    background-color:whitesmoke;
    text-align: center;
    height: 300px;

   
}
.meal button {
    background-color: #f19201;
   width: 60px;
   height: 60px;
   color: #ffff;
   border-radius: 50%;
   font-weight: bold;
   font-size: 20px;
   border: none;
}
/* Styling for the second section ends here */

/* this is the trial css*/

     .Review{ 
         
         padding: 20px;
         list-style: none;
     }   
     .child{
         
         width: 50%;
         
         padding: 20px;
         
          
     }
     .child h2{ font-size: 60px;
        text-decoration-line: underline solid white;

    
    color: white;
    }
    
    
    
/* Styling for the third section should  end here */

/* Styling for the fourth section*/

.menu{
    text-align: center;
    padding-top: 20
}



/* Below is styling for the fourth part*/

.Fourth { 
    
    background-image: url(images/image8.png);
    background-size: contain;
    height: 100%;
    overflow: hidden;

}
.Fourth h2{ text-align: center; color: white;

font-size: 32px;}
.Fourth p { text-align: center;
color: white;
font-size: 28px;
}
.Fourth footer { text-align: center;
background-color: black;
color: white;
padding-bottom: 20px;
}


.Fourth button{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline;
    margin: 30px;
    margin-left: 48%;
    color: white;
    background: none;
    border: 2px solid white;
    font-size: 20px;}

    /* styling trial for third section*/
    .container{
        width: 100px;
        max-width: 100%;
        margin:  0 auto;
    }

    .row{
        width: 1000px;
        height: 400px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    .card{
        margin-top: 10px;
        margin-left: 10px;
        width: 800px;
        height: 800px;
        float: left;
        padding-top: 20px;
        
        padding-right: 150px;
        border-radius: 1px;
        background-color:whitesmoke;
        text-align: center;
        background-image: url(images/image1.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
        
        
    }

    .Second2{ 
        background-color: gainsboro;
        overflow: hidden;
        padding-bottom: 20px;
        height: 400;
        
       
        
    }
    .Second2 h2{ 
        text-decoration: none;
    }

    .card2{
        margin-top: 10px;
        width: 800px;
        height: 800px;
        float: left;
        padding-top: 20px;
      
        padding-right: 50px;
        border-radius: 1px;
        background-color:black;
        text-align: center;
        color: white;
        
        
       
    }
/* This below is styling for the fourth section second trial */

.Second3{ 
    background-color: gainsboro;
    overflow: hidden;
    padding-bottom: 20px;
    height: 400;
    
   
    
}
    .chapati2{
        margin-top: 10px;
        margin-left: 10px;
        width: 320px;
        height: 350px;
        float: left;
        padding-top: 20px;
        
        padding-right: 150px;
        border-radius: 1px;
        background-color:whitesmoke;
        text-align: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(/images/image4.png);
        
        
        
    }

    .chapatiword{
        margin-top: 10px;
        margin-right: 10px;
        width: 320px;
        height: 350px;
        float: left;
        padding-top: 20px;
      
        padding-right: 90px;
        border-radius: 1px;
        background-color: white;
        text-align: center;
        color: black
        
        
       
    }
    .beef2{
        margin-top: 10px;
        margin-left: 10px;
        width: 320px;
        height: 350px;
        float: left;
        padding-top: 20px;
        
        padding-right: 150px;
        border-radius: 1px;
        background-color:whitesmoke;
        text-align: center;
        background-image: url(images/iamge5.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
    }
    .beefword{
        margin-top: 10px;
        margin-right: 10px;
        width: 320px;
        height: 350px;
        float: left;
        padding-top: 20px;
      
        padding-right: 90px;
        border-radius: 1px;
        background-color: white;
        text-align: center;
        color:black;
        
    }
.chicken2{
    margin-top: 10px;
    margin-left: 10px;
    width: 320px;
    height: 350px;
    float: left;
    padding-top: 20px;
    
    padding-right: 150px;
    border-radius: 1px;
    background-color:whitesmoke;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/images/image6.png);
    
}
.chickenword{ 
    margin-top: 10px;
        margin-right: 10px;
        width: 320px;
        height: 350px;
        float: left;
        padding-top: 20px;
      
        padding-right: 90px;
        border-radius: 1px;
        background-color: white;
        text-align: center;
        color: black
}

        .plain2{
            margin-top: 10px;
    margin-left: 10px;
    width: 320px;
    height: 350px;
    float: left;
    padding-top: 20px;
    
    padding-right: 150px;
    border-radius: 1px;
    background-color:whitesmoke;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/images/image7.png);
        }

        .plainword{

            margin-top: 10px;
        margin-right: 10px;
        width: 320px;
        height: 350px;
        float: left;
        padding-top: 20px;
      
        padding-right: 90px;
        border-radius: 1px;
        background-color: white;
        text-align: center;
        color: black
        }
        .Second3 button{ border: none;
        padding: 20px;
        }
        .Second3 h4{ 
            color: #F19201;
            font-size: 20px;
        }
        .Second3 .menu h2 { 
            color: #F19201;
        }

        .Review h2{ 
            color: white;
        }